name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore source/LitLiterary/LitLiterary.sln
    - name: Build
      run: dotnet build source/LitLiterary/LitLiterary.sln --no-restore
    - name: Test
      run: dotnet test source/LitLiterary/LitLiterary.sln --no-build --verbosity normal
